body {
  font-family: Geist Mono, monospace;
  font-size: 12px;
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 30px;
  background: #fff;
}

.font-sans {
  font-family: Geist, sans-serif;
}

.logo {
  width: 110px;
  height: auto;
  margin-bottom: 2em;
}

.meta {
  padding: 80px 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 340px;
}

.header .title {
  font-size: 200%;
  /* font-weight: bold; */
}

.header .meta {
  text-transform: uppercase;
}

.info .meta {
  text-transform: uppercase;
}

.supplier {
  display: grid;
  grid-template-columns: 116px auto;
  width: 340px;
}

.client {
  display: grid;
  grid-template-columns: 116px auto;
}

.client .title {
  text-align: center;
}

.block {
  padding-left: 5px;
  display: block;
}

table.items {
  width: 100%;
  border: none;
  border-collapse: collapse;
}

table.items th {
  text-align: center;
  color: #222;
  text-transform: uppercase;
  font-weight: normal;
  padding: 8px;
  border-bottom: 1px solid #222;
}

table.items th:first-child {
  text-align: left;
}

table.items td {
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 8px;
}

.money,
.number {
  text-align: center;
  width: 100px;
}

.name {
  color: #222;
  font-weight: 500;
}

div.date-tag {
  display: inline-block;
  min-width: 70px;
}

div.top {
  display: flex;
  width: 100%;
  padding: 0px;
  justify-content: space-between;
}

.header-meta {
  width: 340px;
  display: grid;
  justify-content: end;
  padding-right: 8px;
}

.header-meta .title {
  text-align: center;
}

.header-meta .confidential {
  opacity: 0.5;
  font-weight: 300;
  text-align: left;
  padding-left: 116px;
  margin-bottom: 8px;
}

div.summary {
  display: grid;
  gap: 8px;
  width: 100%;
  padding-top: 8px;
  justify-content: end;
}

div.summary .part,
div.summary .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.summary .title,
div.summary .details {
  width: 100px;
  text-align: center;
  padding: 0 8px;
}

div.summary::after {
  content: '';
  display: block;
  clear: both;
}

.summary .total {
  padding: 8px 0;
  border-top: 1px solid #eee;
  font-weight: 500;
  border-bottom: 1px solid #222;
}

.thanks {
  text-align: center;
  text-transform: uppercase;
}

div.instructions,
.newlined,
p.note {
  white-space: pre-line;
}

div.paid {
  position: relative;
  left: 40%;
  color: red;
  rotate: 15deg;
  font-size: 80px;
  top: 20px;
  border: 5px solid red;
  float: left;
  font-weight: normal;
  padding: 1cqi 20px;
}

.app {
  position: relative;
}

@media print {
  div.print {
    display: none;
  }
}

div.print {
  position: fixed;
  left: 0;
  bottom: 0;
}

div.print a {
  background: #C83200;
  display: block;
  font-size: 150%;
  color: white;
  text-decoration: none;
  padding: 0.25em;
  padding-top: 0.25em;
  padding-right: 0.25em;
  border-radius: 0.25em;
  text-transform: uppercase;
  margin: 0.25em;
}

div.print a:hover {
  background: #4682B4;
}

.done {
  text-decoration: line-through;
}

div.column-name {
  display: inline-block;
}

.column-name {
  background: blue;
  color: white;
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
  font-style: normal;
}

.column-recognized {
  background: green;
}

.column-expected {
  background: blue;
}

.column-ignored {
  background: red;
}

.help {
  padding: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
  background: black;
  color: white;
}

.help .details {
  padding: 4px;
}

.help table {
  border: none;
}

.help td.key {
  text-align: right;
}

.help table {
  padding-bottom: 3px;
}

.help-close {
  display: float;
  float: right;
  max-width: 150px;
  padding: 5px;
  border-left: 1px solid white;
  border-bottom-left-radius: 5px;
  font-size: 80%;
  font-style: italic;
}

.help pre {
  display: inline-block;
  background: #ddd;
  color: #000;
  padding: 0.25em;
  margin-left: 1em;
}

.help .title {
  margin-left: 4px;
  text-transform: uppercase;
}

.status {
  padding: 4px;
}

.status .button {
  display: inline-block;
  text-decoration: none;
  color: #000080;
  background: #ddd;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 0.25em;
}

.disclaimer {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.disclaimer span {
  font-weight: 500;
}

.disclaimer p {
  margin-top: 0.5em;
  font-weight: 300;
}

.payment {
  display: grid;
  grid-template-columns: 1fr 340px;
  padding: 8px;
  margin-top: 80px;
}

.bank-info {
  width: fit-content;
  display: grid;
  grid-template-columns: auto auto;
}

.bank-info .main-title {
  grid-column: 1 / span 2;
}

.bank-info .title {
  width: 100px;
}

.paynow {
  width: 100px;
  height: auto;
  padding: 0 8px;
}
